body
{
	background: url('../resources/img/hmebg.jpg');
	height: 500px;
	background-size: cover;
	background-position: center;
	margin:80px;
	padding: 80px;
}
h1{
    text-align:center;
}

.mainDiv{
    width: 50%;
    margin:auto;
    background-color: lightblue;
    padding: 5%;
}

input[type=button]{
    width: 50%;
    margin-left: 25%;
}