body
{
	margin: 30;
	padding: 30;
	box-sizing: border-box: 
	animation: bgcolor infinite 50%;

	background: url('img/nwbg4.png');
	height: 500px;
	background-size: cover;
	background-position: center;
}
h1
{
	color: solid black;
	margin:5;
	padding:5;
	font-family: arial;
	font-size: 50px;
	position:center;
	text-align: center;

}
h2
{
	color: black;
	font-family: arial;
	position:center;
	text-align: center;
}
.subject{

	margin: auto;
    width: 50%;
    padding: 40px;
}
.button {
  background-color: white; 
  border:2px ;
  border-color: black; 
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
