.centerAlign {
	background: lightblue;
	width: 50%;
	margin: auto;
	margin-top: 100px;
}

.centerText {
	text-align: center;
}

button {
	width: 50%;
	margin-left: 25%;
	margin-bottom: 5%;
}