body
{
	margin: 30;
	padding: 30;
	box-sizing: border-box;
	animation: bgcolor infinite 50%;
	background: url('../img/blackboardbg.jpg');
	height: 500px;
	background-size: cover;
	background-position: center;
}
h1
{
	color: solid black;
	margin:5;
	padding:5;
	font-family: arial;
	position:center;
	text-align: center;
}
h2
{
	color: solid black;
	margin:5;
	padding:5;
	font-family: arial;
	position:center;
	text-align: center;
}
.title{
	background-color:#04d9ff;opacity:0.6;; 
    margin: auto;
    margin-top: 250px;
    width: 70%;
    border: 3px solid black;
    padding: 3px;
}
.buttongrp{


	width: 70%;
  	padding: 70px;
  	margin: 2% 15%;
  	display: inline-block;
 	border: 1px solid #04d9ff;
  	box-sizing: border-box;
}

 .btns{
  width: 100%;
  height:50px;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #04d9ff;
  box-sizing: border-box;
}
