body
{
	margin: 30;
	padding: 30;
	box-sizing: border-box: 
	animation: bgcolor infinite 50%;
	background: url('../resources/img/nwbg.jpg');
	height: 500px;
	background-size: cover;
	background-position: center;
}
h1
{
	color: solid black;
	margin:5;
	padding:5;
	font-family: arial;
	position:center;
	text-align: center;

}
.title{
	background-color:#04d9ff;opacity:0.6;; 
    margin: auto;
    margin-top: 250px;
    width: 50%;
    border: 3px solid black;
    padding: 3px;
}

h2
{
	color: black;
	font-family: arial;
	position:center;
	text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 3px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #04d9ff;
  box-sizing: border-box;
}
.forms{
	margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 3px;
}
.login{
	margin: auto;
    width: 10%;
    padding-bottom: 5px;

}
