
/*css*/
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.bg.img{
	background-color: red: ;
	height:100vh ;
	background-size: cover;
	background-position: center;
}
.field{
	border-color: blue;
	border-width: 2px;
}